.card{
    padding: 10px;
}
.card-content{
    height: 150px;
    border: 1px solid gray;
}

.circle{
border-radius: 50%;
border: 1px solid gray;
}

.panel, .panel-header, .panel-body {
    border: 2px solid black;
}

.panel {
    margin: 50px;
}

.panel-header{
    padding: 20px;
}
